body{
    background: linear-gradient(blue, green);
    height:700px;
    color:#fff
}
#N1{
    font-family: 'Courier New', Courier, monospace;
}
#N2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#N3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#N4{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#N5{
    font-family: serif;
}
