.n1{
    list-style-type: disc;
    list-style-position: inside;
}
.n2{
    list-style-type: circle;
    list-style-position: outside;
}
.n3{
    list-style: square inside;
}
.n4{
    list-style-position: inside;
    list-style-type: disc;
}
.n5{
    list-style:disc inside url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6No2_k7LngO4POXhYvsUstfS4WUtguqyrBQ&s');
}
