table{
    width:500px;
    height:200px;
    border-collapse:collapse;
    border-bottom-width: 4px;
    border-color:rgb(220, 217, 217);
    border-bottom-color:rgb(16, 204, 251)
}
td{
    padding-left:36px;
    color:grey;    background-color: white;
    font-weight: 700;
}
th{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(16, 204, 251);
}