.first{
    text-decoration: none;
    font-size: x-large;
    color:rgb(100, 0, 200);
    transition: 0.5s;
}
.first:hover{
    text-decoration: underline dotted rgb(255, 0, 0);
}

.second{
    text-decoration: overline;
    color:rgb(0, 0, 255);
    transition:0.8s
}
.second:hover{
    text-decoration: underline wavy rgb(50, 50, 50);
}

.third{
    color:rgb(50, 50, 50)
}
.third:hover{
    text-decoration:line-through dashed rgb(255, 255, 0);
}