{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class=" flex flex-col items-center justify-center min-h-screen gap-10 px-4">
    <canvas id="bgCanvas" class="absolute top-0 left-0 w-full h-full -z-20 bg-black"></canvas>

    <section
        class="flex flex-col items-center justify-center min-h-max bg-black/50 backdrop-blur-[5px] px-10 py-7 rounded-2xl border border-gray-800 gap-[30px] w-full max-w-md ">
        <div>
            <div class="flex flex-col items-center gap-[5px]">
                <h1 class="text-green-500 font-bold text-3xl">
                    PostMart.co
                </h1>
            </div>
        </div>

        <div class="w-full flex items-center gap-5">
            <a href="/login" class="w-full">
                <button class="px-5 py-3 rounded bg-green-500 border border-green-600 w-full font-bold cursor-pointer duration-100 hover:bg-green-600">Login</button>
            </a>
            <a href="/registration" class="w-full">
                <button class="px-5 py-3 rounded bg-green-500 border border-green-600 w-full font-bold cursor-pointer duration-100 hover:bg-green-600">Registration</button>
            </a>
        </div>
    </section>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>