{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class=" flex flex-col items-center justify-center min-h-screen gap-10 px-4">
    <canvas id="bgCanvas" class="absolute top-0 left-0 w-full h-full -z-20 bg-black"></canvas>
    <a href="/">
        <button
            class="bg-green-500 absolute top-10 right-5 px-10 py-2 rounded cursor-pointer duration-100 hover:bg-green-600">Back</button>
    </a>
    <section
        class="flex flex-col items-center justify-center min-h-max bg-black/50 backdrop-blur-[5px] px-10 py-7 rounded-2xl border border-gray-800 gap-[30px] w-full max-w-md ">
        <div>
            <div class="flex flex-col items-center gap-[5px]">
                <h1 class="text-green-500 font-bold text-3xl">
                    PostMart.co
                </h1>
                <p class="text-gray-400 text-sm">Fill out the form to login</p>
            </div>
        </div>
        <form action="" class="grid grid-cols-1 sm:grid-cols-2 gap-5 w-full text-white" method="POST">
            {% csrf_token %}

            {% if form.errors %}
            <div class="text-red-500 text-sm text-center bg-red-500/10 py-2 px-3 rounded border border-red-500/20 w-full sm:col-span-2">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% for input in form %}
            <div class="w-full">
                {{ input }}
            </div>
            {% endfor %}

            <button type="submit"
                class="text-white px-5 py-2 rounded bg-green-600 duration-100 hover:bg-green-500 cursor-pointer sm:col-span-2 w-full font-semibold">
                Submit
            </button>
        </form>
    </section>
</body>
<script src="{% static 'script.js' %}" ></script>
</html>