.parent{
    display:grid;
    width:90%;
    grid-template-columns: 200px 300px 400px 500px;
    grid-template-rows: 200px 300px  400px ;
    gap:20px
}
.child{
    width:100px;
    height:100px;
    background-color: red;
}
.parend2{
    width:80%;
    display:grid;
    grid-template-columns: 200px 200px ;
    gap:20px;
}
.child2{
    background-color: blue;
    width:100px;
    height:100px
}