body{
    background: linear-gradient(blue, green);
    height:700px;
    color:#fff
}
h1{
    font-family: fantasy;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 10px 10px 2px grey;
    text-transform: uppercase;
    width:400px;
    background-color: bisque;
    text-align: center;
    color:blue
}
#N1{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-transform: lowercase;
    font-weight: lighter;
}
#N2{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 500;
}
#N3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:23px;
    text-transform:lowercase;
    font-weight:600
}
#N4{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    text-transform: capitalize;
    font-weight: bolder;
}
#N5{
    text-align:center;
    font-family: serif;
    font-size:23px;
    text-transform: none;
}
button{
    background-color: aquamarine;
    border-style:none;
    border-radius:10px;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
    transition: background-color 0.2s;
}
button:hover{
    background-color: blueviolet;
    color:white;
}
button:active{
    background-color: white;
    color:blueviolet;
    opacity: 0.8;
}
