body{
    background-color: black;
}
h1, h2{
    font-family: "Monsieur La Doulaise", serif;
    font-weight: 500;
    font-style: normal;
    color:cadetblue;
    font-size:60px;
    text-align: center;
    animation:color 1s infinite alternate;
    transition:0.5s
}
h1:hover, h2:hover{
    color:blue;
    animation: color_1 1s infinite alternate
}
@keyframes color_1{
    0%{
        text-shadow: 0px 0px 10px rgb(0, 60, 255);
    }
    100%{
        text-shadow: 5px 5px 30px rgb(0, 106, 255);
    }
}
@keyframes color{
    0%{
        text-shadow: 0px 0px 10px rgb(0, 255, 0);
    }
    100%{
        text-shadow: 5px 5px 30px rgb(0, 255, 0);
    }
}
p{
    color:white;
    text-shadow: 0px 0px 6px grey;
    font-size:20px;
    text-align:center
}
  