*{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
input{
    display:flex;
    flex-direction: column;
    margin:10px;
    width:350px;
    height:50px;
    border-radius:50px;
    border-style:groove;
    justify-content: center;
    background: none;
    border-color: white;
    padding-left:10%;
    font-size:20px;
    color:white;
    box-shadow: 0px 0px 10px white;
    outline:none;
    transition:0.5s
}
input:focus{
    box-shadow: 0px 0px 20px rgb(21, 71, 255);
}
input[type='submit'], input[type='reset']{
    padding:5px;
    font-size:20px;
    cursor:pointer;
    color:white;
    margin-left:10%;
    width:30%
}
.button{
    display:flex;
    flex-direction:row;
    margin-top:50px
}
input[type='submit']{
    background: rgb(0, 255, 0);
    transition:1s
}
input[type='reset']{
    background-color: rgb(255, 0, 0);
    transition:1s
}
input[type='reset']:hover{
    color:rgb(255, 0, 0);
    background:none;
    font-weight: 900;
    border-style:groove;
    border-width:2px;
    border-color:red;
    border-radius:3px
}
input[type='submit']:hover{
    background:none;
    border-width:2px;
    font-weight: 900;
    border-style:groove;
    border-color:rgb(0, 255, 0);
    color:rgb(0, 255, 0);
    border-radius:3px
}
.input{
    display:flex;
    align-items: center;
    /* padding-top:50px; */
}
.bx{
    font-size:40px;
    color:white
}
form{
    width:500px;
    background: linear-gradient(rgb(0, 0, 43),  black);;
    height:400px;
    padding:40px;
    border-radius:50px;
    animation:box infinite 3s alternate
}
@keyframes box{
    0%{
        box-shadow:0px 0px 100px white
    }
    100%{
        box-shadow:0px 0px 100px rgb(1, 1, 68)
    }
}
h1{
    color:white;
    text-shadow:0px 0px 15px white;
    font-size:40px;
    text-align: center;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    background: linear-gradient( black, rgb(0, 0, 43)) ;
}