/* ესენი არის exsternal css მაგალითები */

h3{
    font-size:larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:yellow
}
body{
    background-color: black;
}