<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="bg-gray-950 flex flex-col items-center gap-5 text-white font-bold tracking-1 h-screen">
    <header class="min-h-[40px] flex items-center  justify-between px-10 py-5 min-[1200px]:w-4/5 w-full">
        <h1 class="text-[25px]">ShopHope.com</h1>
        <nav>
            <ul class="flex items-center justify-between w-full gap-10 text-[17px] font-[300]">
                <a href="/" class="duration-100 hover:text-gray-300 font-bold">
                    <li>Home</li>
                </a>
                <a href="/products" class="duration-100 hover:text-gray-300">
                    <li>Products</li>
                </a>
                <a href="/contact_us" class="duration-100 hover:text-gray-300">
                    <li>Contact us</li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="flex flex-col items-center gap-10 py-12 py-10">
        <h1 class="text-[50px]">Welcome to our store</h1>
    </main>
</body>

</html>