body{
    background-color: black;
}
h1, h2{
    color:green;
    text-align: center;
}
p{
    color:rgb(96, 161, 0)
}
button{
    overflow: hidden;
    width:40px;
    height:40px;
    border-radius:20px;
    border: none;
    cursor:pointer;
    transition:0.5s;
    color:green;
    background-color: black;
}
button:hover{
    background-color: green;
    color:black;
    width:250px
}
video{
    border-radius:20px
}