/* 1) შექმენით 5 პარაგრაფი ერთი იყოს თეთრი მეორე იყოს შავი მესამე იყოს წითელი მეოთხე იყოს მწვანე და მეხუთე იყოს ლურჯი გამოიყენეთ rgb ფერები თქვენით შექმენით შესაბამისი კომბინაცია */

#n1{
    color:rgb(0, 0, 0)
}
#n2{
    color:rgb(255, 255, 255)
}
#n3{
    color:rgb(200, 0, 0 )
}
#n4{
    color:rgb(0, 150, 0)
}
#n5{
    color:rgb(0, 0, 100)
}