#p1{
    font-size:60px
}
/* # არის (ატრიბუტი) id css-ში. და გამოდის, რომ რისი id-ც არის p1 იმას შეუცლის ყველაფერს რასაც ჩავწერთ {}-ებში */

.p4{
    font-size:10px;
}
/* . არის (ატრიბუტი) class-ის აღმნიშვნელი css-ში. და გამოდის, რომ რისი class-iც არის p4 იმას შეუცლის ყველაფერს რასაც ჩავწერთ {}-ებში, მოძებნის html ფაილში ისეთ თაგს რომელსაც ეს კლასი აქვს მინიჭებული*/

/* განსხვავება id & class არის ის, რომ id მხოლოდ ერთ ელემენტს შეიძლება მიენიჭოს ისე რომ სახელი არ გაუმეორდეს. ხოლო class-ის შემთხვევაში რამდენიმე თაგს შეიძლება ჰქონდეს ერთნაირი სახელები.  */

p b {
    color:blue
}
/* color:blue == property */
/* color: == declaratia */
/* blue == value */

/*                              RGB */
/* rgb - Red Green Blue (ძირითადი ფერები, სამი ფერის გაერთიანება) */
/* მას გადავცემთ რიცხვებს. ყველაზე მაქსიმალური რიცხვია 255, სულ 3 ციფრს გადავცემთ */

/* პირველი წითელია, მეორე მწვანე, მესამე ლურჯის კომბინაცია.  */

/* 0, 0, 0 შავია */

/* რაც უფრო მეტია ანუ 255 მით უფრო ღია.  */

/* 255, 255, 255 არის თეთრი , ანუ თუ მაქსიმალურად მკვეთრი იქნება */

/*                      hex */

/* hex - შეიცავს 6 სიმბოლოს. წყვილ-წყვილად ორ-ორი სიმბოლო წითელთან მწვანესთან და ლურჯთან ნაწილდება. */
/* ffffff - თეთრი */
/* 000000 - შავი */

/* ff = 255 */