input[type='email']{
    border-radius: 10px;
    outline: none;
    border-style:none;
}
input[type='text']{
    border-color:green;
    border-radius:3px;
    border-style: groove;
}
input[type='password']{
    border-color:blueviolet;
    outline: none;
}