.first{
    text-decoration: none;
    font-size: x-large;
    color:#56ad05;
    transition: 0.5s;
}
.first:hover{
    text-decoration: underline dotted #00ff33;
}

.second{
    text-decoration: overline;
    color:#333;
    transition:0.8s
}
.second:hover{
    text-decoration: underline wavy #000;
}

.third{
    color:#f3a000
}
.third:hover{
    text-decoration:line-through dashed #f3a;
}