:root{
    --color: rgb(3, 136, 98);
}
table{
    border-collapse:collapse;
    font-family:arial;
    width:450px;
    height:150px;
    border-bottom-style:groove;
    border-bottom-color: var(--color);
}
tr:nth-child(3){
    background-color: rgb(227, 227, 227);
    color:var(--color);
    font-weight: 700;
}
th{
    background-color: var(--color);
    color:rgb(239, 239, 239);
}
th, td{
    padding-left:10px;
    text-align: left;
}