body{
    background-color: black;
    font-size:50px;
    text-align: center;
}
.A1{
    color:rgb(255, 0, 0);
    font-family:Arial;
    transition: 0.2s;
    font-weight:600
}
.A1:hover{
    font-size:60px;
    text-shadow: 2px 2px 50px rgb(210, 25, 25);
    font-weight: lighter;
}
.A2{
    color:rgb(0, 255, 0);
    font-family: Times New Roman;
    transition:0.2s;
    font-weight: bolder;
}
.A2:hover{
    font-size:60px;
    text-shadow: 2px 2px 50px rgb(0, 255, 0);
    font-weight: 100;
}